<section data-ng-controller="TopicsController">
    <div class="col-md-6">
        <div class="page-header">
            <h1>New Topic</h1>
        </div>
        <form data-ng-submit="create()" novalidate>
        <pre>{{topic | json}}</pre>
            <fieldset>
                <div class="form-group">
                    <label control-label" for="title">Title</label>
                    <div>
                        <input type="text" data-ng-model="topic.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label control-label" for="description">Description</label>
                    <div>
                        <textarea data-ng-model="topic.description" id="description" class="form-control" rows="4" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group" data-ng-init="findTags()">
                    <label control-label" for="tags">Tag</label>
                    <div>
                        <input type="hidden" ui-select2="tagOptions" tag-list data-ng-model="topic.tags" id="tags" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label control-label" for="content_type">Content Type</label>
                    <div>
                        <input type="hidden" ui-select2="contentTypeOptions" tag-list="test" data-ng-model="topic.content.type" id="content_type" class="form-control">
                        {{test}}
                    </div>
                </div>
                <div class="form-group">
                    <label control-label" for="content_reference">Content Reference</label>
                    <div>
                        <input type="text" data-ng-model="topic.content.reference" id="content_reference" class="form-control" placeholder="Content Reference" required>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-6" ng-if="topic.content.type && topic.content.reference">
        <div class="page-header">
            <h1>Preview</h1>
        </div>
        <div content-wrapper type="topic.content.type" reference="topic.content.reference" editable></div>
    </div>
</section>