<section data-ng-controller="MainTopicsController" data-ng-init="findTopics()">
    <div class="row">
        <div class="col-md-9">
            <div class="panel" data-ng-repeat="topic in topics">
                <h2 data-ng-bind="topic.title"></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div data-content-wrapper data-type="topic.content.type" data-reference="topic.content.reference"></div>
                    </div>
                    <div class="col-sm-6" data-ng-if="topic.poems.length">
                        <ul class="media-list">
                            <li class="media" data-ng-repeat="poem in topic.poems">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" src="http://dummyimage.com/64x64/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
                                </a>
                                <div class="media-body">
                                    <p data-ng-bind="poem.content"></p>
                                </div>
                            </li>
                        </ul>
                        <a data-ng-href="#!/topics/{{topic._id}}" class="btn btn-block btn-warning">Read More...</a>
                    </div>
                    <div class="col-sm-6" data-ng-if="!topic.poems.length">
                        <a data-ng-href="#!/topics/{{topic._id}}" class="btn btn-block btn-danger">
                            No Poems yet, why don't you write one...
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <br><br>
            <div class="imgWrapper">
                <img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
            </div>
            <div class="imgWrapper">
                <img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
            </div>
        </div>
    </div>
</section>