<div class="row" data-ng-controller="MainTopicsController" data-ng-init="init()" data-cg-busy="topicsPromise">
    <!-- Content Column Start -->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 equalcol conentsection">
        <!-- Contents Section Started -->
        <div class="sections" id="{{'topic_' + topic._id}}" data-ng-repeat="topic in topics">
            <div class="row">
                <!-- Topic Content Started -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div data-content-box data-topic="topic" data-like="likeTopic(topic)" data-unlike="unlikeTopic(topic)" data-user="authentication.user"></div>
                </div>
                <!-- Topic Content End -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-ng-if="topic.poems.length">
                    <div id="comments">
                        <div class="media" data-ng-repeat="poem in topic.poems">
                            <a class="pull-left hidden-xs" href="javascript:;">
                                <img class="media-object img-circle" ng-src="{{userProfile.getUserProfileImageSrc(poem.author)}}">
                            </a>
                            <div class="media-body">
                                <p class="poem" data-ng-bind="poem.content"></p>
                                <small>
                                    <em class="text-muted">Posted on <span data-ng-bind="poem.created | date:'mediumDate'"></span></em>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <a data-ng-href="#!/topics/{{topic._id}}" class="btn btn-xs btn-primary backcolor">
                        Read More...
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-ng-if="!topic.poems.length">
                    <a data-ng-href="#!/topics/{{topic._id}}" class="btn btn-block btn-primary backcolor">
                        No Poems yet, why don't you write one...
                    </a>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-primary backcolor" data-ng-click="findTopics(topics.length, 5)">
            Show More Topics...
        </button>
        <!-- Contents Section End -->
    </div>
    <!-- Content Column End -->
    <!-- Gray Sidebar Start -->
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs equalcol graysidebar">
        <!-- Small Video Posts Widget start -->
        <div class="widget">
            <h2 class="heading">Random Topics</h2>
            <div class="videolistsmall">
                <ul class="bloglist">
                    <li>
                        <div class="media">
                            <a href="video-detail-double-sidebar.html" class="pull-left">
                                <img class="media-object img-responsive hovereffect" src="/assets/images/img16.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h5><a href="video-detail-double-sidebar.html">Dann Petty on Curabitur</a></h5>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>10:56</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="video-detail-double-sidebar.html" class="pull-left">
                                <img class="media-object img-responsive hovereffect" src="/assets/images/img17.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h5><a href="video-detail-double-sidebar.html">Falling Down Focus</a></h5>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>10:56</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="video-detail-double-sidebar.html" class="pull-left">
                                <img class="media-object img-responsive hovereffect" src="/assets/images/img18.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h5><a href="video-detail-double-sidebar.html">Waters Fourth Winged</a></h5>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>10:56</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Small Video Posts Widget End -->
    </div>
    <!-- Gray Sidebar End -->
</div>