<!-- Header Start -->
<div data-ng-controller="HeaderController">
	<!-- Header Top Strip Start -->
	<div class="topstrip">
		<div class="custom-container">
	    	<div class="row">
	            <!-- Top Categories Start -->
	            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
	                <div class="logo">
                    	<a href="/#!/"><img src="/lib/theme/images/logo2.png" alt="Video Magazine" /></a>
                    </div>
	            </div>
	            <!-- Top Categories End -->
	            <!-- Social Network Start -->
	            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
	            	<div class="socialnetworks">
	                    <ul class="pull-right">
	                        <li>
	                        	<a href="#" data-toggle="tooltip" title="Facebook" data-placement="bottom" class="facebook">
	                            	<i class="fa fa-facebook"></i>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#" data-toggle="tooltip" title="Youtube" data-placement="bottom" class="youtube">
	                            	<i class="fa fa-youtube"></i>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#" data-toggle="tooltip" title="Twitter" data-placement="bottom" class="twitter">
	                            	<i class="fa fa-twitter"></i>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#" data-toggle="tooltip" title="Vimeo" data-placement="bottom" class="vimeo">
	                            	<i class="fa fa-vimeo-square"></i>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#" data-toggle="tooltip" title="Pinterest" data-placement="bottom" class="pinterest">
	                            	<i class="fa fa-pinterest"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                </div>
	            </div>
	            <!-- Social Network End -->
	        </div>
	    </div>
	</div>
	<!-- Header Top Strip End -->
	<!-- Header Videos Start -->
	<div class="headervideos hidden-xs">
	    <div class="custom-container">
	        <div class="row">
	            <div class="col-lg-2 col-md-4 col-sm-4 .col-xs-4"> 
	                <!-- Video Box Start -->
	                <div class="videobox">
	                    <figure> 
	                        <!-- Video Thumbnail Start --> 
	                        <a href="video-detail-double-sidebar.html">
	                            <img src="/lib/theme/images/img19.jpg" alt="" class="img-responsive hovereffect" />
	                        </a> 
	                        <!-- Video Thumbnail End --> 
	                        <!-- Video Title + Info Start -->
	                        <figcaption>
	                            <h2><a href="video-detail-double-sidebar.html">Waters Years</a></h2>
	                            <div class="clearfix"></div>
	                        </figcaption>
	                        <!-- Video Title + Info End --> 
	                    </figure>
	                </div>
	                <!-- Video Box End --> 
	            </div>
	            <div class="col-lg-2 col-md-4 col-sm-4 .col-xs-4"> 
	                <!-- Video Box Start -->
	                <div class="videobox">
	                    <figure> 
	                        <!-- Video Thumbnail Start --> 
	                        <a href="video-detail-double-sidebar.html">
	                            <img src="/lib/theme/images/img20.jpg" alt="" class="img-responsive hovereffect" />
	                        </a> 
	                        <!-- Video Thumbnail End --> 
	                        <!-- Video Title + Info Start -->
	                        <figcaption>
	                            <h2><a href="video-detail-double-sidebar.html">Fourth Winged</a></h2>
	                            <div class="clearfix"></div>
	                        </figcaption>
	                        <!-- Video Title + Info End --> 
	                    </figure>
	                </div>
	                <!-- Video Box End -->
	            </div>
	            <div class="col-lg-2 col-md-4 col-sm-4 .col-xs-4"> 
	                <!-- Video Box Start -->
	                <div class="videobox">
	                    <figure> 
	                        <!-- Video Thumbnail Start --> 
	                        <a href="video-detail-double-sidebar.html">
	                            <img src="/lib/theme/images/img21.jpg" alt="" class="img-responsive hovereffect" />
	                        </a> 
	                        <!-- Video Thumbnail End --> 
	                        <!-- Video Title + Info Start -->
	                        <figcaption>
	                            <h2><a href="video-detail-double-sidebar.html">Gathering Creepeth</a></h2>
	                            <div class="clearfix"></div>
	                        </figcaption>
	                        <!-- Video Title + Info End --> 
	                    </figure>
	                </div>
	                <!-- Video Box End -->
	            </div>
	            <div class="col-lg-2 col-md-4 col-sm-4 .col-xs-4"> 
	                <!-- Video Box Start -->
	                <div class="videobox">
	                    <figure> 
	                        <!-- Video Thumbnail Start --> 
	                        <a href="video-detail-double-sidebar.html">
	                            <img src="/lib/theme/images/img22.jpg" alt="" class="img-responsive hovereffect" />
	                        </a> 
	                        <!-- Video Thumbnail End --> 
	                        <!-- Video Title + Info Start -->
	                        <figcaption>
	                            <h2><a href="video-detail-double-sidebar.html">Firmament Fly</a></h2>
	                            <div class="clearfix"></div>
	                        </figcaption>
	                        <!-- Video Title + Info End --> 
	                    </figure>
	                </div>
	                <!-- Video Box End -->
	            </div>
	            <div class="col-lg-2 col-md-4 col-sm-4 .col-xs-4"> 
	                <!-- Video Box Start -->
	                <div class="videobox">
	                    <figure> 
	                        <!-- Video Thumbnail Start --> 
	                        <a href="video-detail-double-sidebar.html">
	                            <img src="/lib/theme/images/img23.jpg" alt="" class="img-responsive hovereffect" />
	                        </a> 
	                        <!-- Video Thumbnail End --> 
	                        <!-- Video Title + Info Start -->
	                        <figcaption>
	                            <h2><a href="video-detail-double-sidebar.html">First Sixth Be</a></h2>
	                            <div class="clearfix"></div>
	                        </figcaption>
	                        <!-- Video Title + Info End --> 
	                    </figure>
	                </div>
	                <!-- Video Box End -->
	            </div>
	            <div class="col-lg-2 col-md-4 col-sm-4 .col-xs-4"> 
	                <!-- Video Box Start -->
	                <div class="videobox">
	                    <figure> 
	                        <!-- Video Thumbnail Start --> 
	                        <a href="video-detail-double-sidebar.html">
	                            <img src="/lib/theme/images/img24.jpg" alt="" class="img-responsive hovereffect" />
	                        </a> 
	                        <!-- Video Thumbnail End --> 
	                        <!-- Video Title + Info Start -->
	                        <figcaption>
	                            <h2><a href="video-detail-double-sidebar.html">Gathered Green</a></h2>
	                            <div class="clearfix"></div>
	                        </figcaption>
	                        <!-- Video Title + Info End --> 
	                    </figure>
	                </div>
	                <!-- Video Box End -->
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Header Videos End -->
    <!-- Navigation Strip Start -->
    <div class="navigationstrip stickynav bordercolor-top" data-sticky-nav>
    	<div class="custom-container">
        	<div class="row">
                <!-- Navigation Start -->
                <div class="col-lg-10 col-md-9 col-sm-6 col-xs-4">
                	<div class="navigation">
                        <!-- navbar Start -->
                        <div class="navbar yamm navbar-default">
                            <div class="row">
                                <div class="navbar-header">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                                        <i class="fa fa-bars"></i> Menu
                                    </button>
                                </div>
                                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <!-- Home Page Styles Start -->
										<li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
											<a ng-switch-when="dropdown" class="dropdown-toggle">
												<span data-ng-bind="item.title"></span>
												<b class="caret"></b>
											</a>
											<ul ng-switch-when="dropdown" class="dropdown-menu">
												<li data-ng-repeat="subitem in item.items" class="dropdown-toggle" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
													<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
												</li>
											</ul>
											<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
										</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- navbar End -->
                    </div>
                </div>
                <!-- Navigation End -->
                <!-- Login Start -->
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8">
                    <div class="loginsec pull-right" data-ng-hide="authentication.user">
                        <a href="/#!/signin" class="colorhover"><i class="fa fa-sign-in"></i>Sign In</a>
                        <a href="/#!/signup" class="colorhover"><i class="fa fa-pencil"></i>Sign Up</a>
                    </div>
                    <div class="loginsec pull-right" data-ng-show="authentication.user">
                        <a href="/#!/settings/profile" class="colorhover"><i class="fa fa-user"></i>{{authentication.user.displayName}}</a>
                        <a href="/auth/signout" class="colorhover"><i class="fa fa-sign-out"></i>Sign Out</a>
                    </div>
                </div>
                <!-- Login End -->
			</div>
        </div>
    </div>
    <!-- Navigation Strip End -->
</div>
<!-- 



<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">trollozans</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav">
			<li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Signin</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div> -->