<section data-ng-controller="TagsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tags</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tag in tags" data-ng-href="#!/tags/{{tag._id}}" class="list-group-item">
            <h2 class="list-group-item-heading" data-ng-bind="tag.title"></h2>
			<small class="list-group-item-text">
                Posted on <span data-ng-bind="tag.created | date:'medium'"></span> by <span data-ng-bind="tag.creator.displayName"></span>
			</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tags.$resolved || tags.length">
    	No Tags yet, why don't you <a href="/#!/tags/create">create one</a>?
    </div>
</section>