<section data-ng-controller="TagsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="tag.title"></h1>
	</div>
	<div class="row">
	    <div class="col-sm-6">
	        <pre>{{tag | json}}</pre>
	        <small>
	        	<em class="text-muted">Posted on <span data-ng-bind="tag.created | date:'mediumDate'"></span> by <span data-ng-bind="tag.creator.displayName"></span></em>
	        </small>
	        <div class="pull-right">
	        	<a class="btn btn-primary" href="/#!/tags/{{tag._id}}/edit">
	        		<i class="glyphicon glyphicon-edit"></i>
	        	</a>
	        	<a class="btn btn-primary" data-ng-click="remove();">
	        		<i class="glyphicon glyphicon-trash"></i>
	        	</a>
	        </div>
	    </div>
	</div>
</section>