<div class="videobox">
    <figure> 
        <!-- Video Thumbnail Start --> 
        <a href="/#!/topics/{{topic._id}}">
        	<img data-ng-src="{{thumbnailSrc}}" class="img-responsive hovereffect" alt="">
        </a> 
        <!-- Video Thumbnail End --> 
        <!-- Video Title + Info Start -->
        <figcaption>
            <h2><a href="/#!/topics/{{topic._id}}">{{topic.title}}</a></h2>
            <div class="clearfix"></div>
        </figcaption>
        <!-- Video Title + Info End --> 
    </figure>
</div>