<div class="videobox2">
	<figure>
		<!-- Content Thumbnail Start -->
		<a href="/#!/topics/{{topic._id}}">
			<img data-ng-src="{{thumbnailSrc}}" class="img-responsive hovereffect" alt="">
		</a>
		<!-- Content Thumbnail End -->
		<!-- Content Info Start -->
		<div class="vidopts">
			<ul>
				<li><i class="fa fa-heart"></i>{{topic.usersLiked.length}}</li>
				<li><div data-like-button data-like-array="topic.usersLiked" data-like="like()" data-unlike="unlike()" data-user="user"></div>
			</ul>
			<div class="clearfix"></div>
		</div>
		<!-- Content Info End -->
	</figure>
	<!-- Content Title Start -->
	<h2><a href="/#!/topics/{{topic._id}}">{{topic.title}}</a></h2>
	<!-- Content Title End -->
</div>