<div class="row">
    <!-- Video Player Start -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="playeriframe" data-ng-if="topic.content.type != 'image'">
            <iframe data-ng-src="{{iframeSrc}}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
        <div class="imgWrapper" data-ng-if="topic.content.type == 'image'">
        	<img data-ng-src="{{topic.content.reference}}"/>
        </div>
    </div>
    <!-- Video Player End --> 
    <!-- Video Stats and Sharing Start -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo sections">
        <div class="row"> 
            <!-- Video Stats Start -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 stats">
                <hr class="visible-xs">
                <ul>
                    <li class="likes">
                        <h5>Likes</h5>
                        <h2>{{topic.usersLiked.length}}</h2>
                    </li>
                    <li class="likes"><div data-like-button data-like-array="topic.usersLiked" data-like="like()" data-unlike="unlike()" data-user="user"></li>
                </ul>
            </div>
            <!-- Video Stats End --> 
            <!-- Video Share Start -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 videoshare">
                <ul data-ng-social-buttons
                    data-url="pageUrl"
                    data-title="topic.title"
                    data-description="topic.description"
                    data-image="imgUrl">
                    <li class="ng-social-facebook">Facebook</li>
                    <li class="ng-social-twitter">Twitter</li>
                </ul>
            </div>
            <!-- Video Share End --> 
        </div>
    </div>
    <!-- Video Stats and Sharing End --> 
</div>