<section data-ng-controller="PoemsController" data-ng-init="findOne()">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Edit Poem</h1>
        </div>
        <form data-ng-submit="update()" data-novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="poem.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea data-ng-model="poem.content" id="content" class="form-control" placeholder="Content" rows="4" required></textarea>
                    </div>
                </div>
                <div class="form-group" data-ng-init="findTopics()">
                    <label class="control-label" for="topic">Topic</label>
                    <div class="controls">
                        <select ui-select2 data-ng-model="poem.topic" id="topic" class="form-control">
                            <option data-ng-value="topic._id" data-ng-repeat="topic in topics">{{topic.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" data-ng-init="findTags()">
                    <label class="control-label" for="tags">Tag</label>
                    <div class="controls">
                        <select ui-select2 data-ng-model="poem.tags" id="tags" class="form-control" multiple>
                            <option data-ng-value="tag._id" data-ng-repeat="tag in tags">{{tag.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>