<section data-ng-controller="PoemsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Poems</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="poem in poems" data-ng-href="#!/poems/{{poem._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="poem.created | date:'medium'"></span>
				by
				<span data-ng-bind="poem.author.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="poem.title"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!poems.$resolved || poems.length">
    	No Poems yet, why don't you <a href="/#!/poems/create">create one</a>?
    </div>
</section>