<section data-ng-controller="PoemsController" data-ng-init="findOne()">
	<div class="page-header">
		<p class="lead" data-ng-bind="poem.content"></p>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/poems/{{poem._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="poem.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="poem.author.displayName"></span>
		</em>
	</small>
</section>